joblib==1.4.2
matplotlib==3.9.3
numpy==2.2.0
pandas==2.2.3
plotly==5.24.1
python_bcrypt==0.3.2
scikit_learn==1.6.0
statsmodels==0.14.4
streamlit==1.40.1
yfinance==0.2.49
bcrypt==4.0.1
hashpw==2.6.0
plotly==5.24.1
